# Walmart Sales Data Visualization
In this notebook we have analyzed data and gathered insights from it.

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Visualize data first

df = pd.read_csv("../Walmart-Cleaned.csv")

df.describe()

,Unnamed: 0,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,Consumer_Per_Index,Unemployment_Rate,Year,Month,Week
count,6435.000000,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000,6435.0
mean,3217.000000,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578468,7.999151,2010.965035,6.447552,4.0
std,1857.768823,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356697,1.875885,0.797019,3.238308,0.0
min,0.000000,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.060000,3.879000,2010.000000,1.000000,4.0
25%,1608.500000,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.740000,6.891000,2010.000000,4.000000,4.0
50%,3217.000000,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.620000,7.874000,2011.000000,6.000000,4.0
75%,4825.500000,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.745000,8.622000,2012.000000,9.000000,4.0
max,6434.000000,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.230000,14.313000,2012.000000,12.000000,4.0

In [3]:
df.head(10)

,Unnamed: 0,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,Consumer_Per_Index,Unemployment_Rate,Year,Month,Week
0,0,1,2010-02-05,1643690.90,0,42.31,2.572,211.10,8.106,2010,2,4
1,1,1,2010-02-12,1641957.44,1,38.51,2.548,211.24,8.106,2010,2,4
2,2,1,2010-02-19,1611968.17,0,39.93,2.514,211.29,8.106,2010,2,4
3,3,1,2010-02-26,1409727.59,0,46.63,2.561,211.32,8.106,2010,2,4
4,4,1,2010-03-05,1554806.68,0,46.50,2.625,211.35,8.106,2010,3,4
5,5,1,2010-03-12,1439541.59,0,57.79,2.667,211.38,8.106,2010,3,4
6,6,1,2010-03-19,1472515.79,0,54.58,2.720,211.22,8.106,2010,3,4
7,7,1,2010-03-26,1404429.92,0,51.45,2.732,211.02,8.106,2010,3,4
8,8,1,2010-04-02,1594968.28,0,62.27,2.719,210.82,7.808,2010,4,4
9,9,1,2010-04-09,1545418.53,0,65.86,2.770,210.62,7.808,2010,4,4

In [ ]:
df.drop(["Unnamed: 0"], axis=1)
# Removing Garbage column

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,Consumer_Per_Index,Unemployment_Rate,Year,Month,Week
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.10,8.106,2010,2,4
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.24,8.106,2010,2,4
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.29,8.106,2010,2,4
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.32,8.106,2010,2,4
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.35,8.106,2010,3,4
...,...,...,...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.01,8.684,2012,9,4
6431,45,2012-10-05,733455.07,0,64.89,3.985,192.17,8.667,2012,10,4
6432,45,2012-10-12,734464.36,0,54.47,4.000,192.33,8.667,2012,10,4
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.33,8.667,2012,10,4
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.31,8.667,2012,10,4

,Unnamed: 0,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,Consumer_Per_Index,Unemployment_Rate,Year,Month,Week
0,0,1,2010-02-05,1643690.90,0,42.31,2.572,211.10,8.106,2010,2,4
1,1,1,2010-02-12,1641957.44,1,38.51,2.548,211.24,8.106,2010,2,4
2,2,1,2010-02-19,1611968.17,0,39.93,2.514,211.29,8.106,2010,2,4
3,3,1,2010-02-26,1409727.59,0,46.63,2.561,211.32,8.106,2010,2,4
4,4,1,2010-03-05,1554806.68,0,46.50,2.625,211.35,8.106,2010,3,4
5,5,1,2010-03-12,1439541.59,0,57.79,2.667,211.38,8.106,2010,3,4
6,6,1,2010-03-19,1472515.79,0,54.58,2.720,211.22,8.106,2010,3,4
7,7,1,2010-03-26,1404429.92,0,51.45,2.732,211.02,8.106,2010,3,4
8,8,1,2010-04-02,1594968.28,0,62.27,2.719,210.82,7.808,2010,4,4
9,9,1,2010-04-09,1545418.53,0,65.86,2.770,210.62,7.808,2010,4,4